@tailwind base;
@tailwind components;
@tailwind utilities;

input
{
    background-color: transparent;
}
input:focus
{
  background-color: rgb(128, 128, 128,0.7);
  outline:none;
}
input:focus::placeholder
{
    color: aliceblue;
}