@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  background-image: url("https://media.istockphoto.com/photos/old-desk-surface-picture-id157335833?k=6&m=157335833&s=612x612&w=0&h=DkvxXMtB61xRioyjWbbzAAvgCW2iPym-eWhiUMz7ODA=");
  background-repeat: no-repeat;
  background-size: cover;
}

/* For Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar handle */

}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set the color of the scrollbar handle on hover */
}


.box
{
  border-radius: 19% 81% 26% 74% / 88% 11% 89% 12% ;
  border: 3px dotted #353535;
}

input
{
    background-color: transparent;
}
input:focus
{
  background-color: rgb(128, 128, 128,0.7);
  outline:none;
}
input:focus::placeholder
{
    color: aliceblue;
}
.loader {
  width:60px;
  height:16px;
  display: grid;
  color: #353535;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  --c: linear-gradient(currentColor 0 0);
  background: var(--c), var(--c), var(--c);
  background-repeat: no-repeat;
  animation: l6-1 3s infinite linear, l6-2 3s infinite linear;
  transform: scale(var(--s,1)) translate(3px,-3px);
}
.loader:after {
  --s:-1;
}

@keyframes l6-1 {
  0%,
  3%    {background-size: 0    4px,4px 0   ,0    4px}
  16.67%{background-size: 100% 4px,4px 0   ,0    4px}
  33.33%{background-size: 100% 4px,4px 100%,0    4px}
  46%,
  54%   {background-size: 100% 4px,4px 100%,100% 4px}
  66.67%{background-size: 0    4px,4px 100%,100% 4px}
  83.33%{background-size: 0    4px,4px 0   ,100% 4px}
  96%,
  100%  {background-size: 0    4px,4px 0   ,0    4px}
}

@keyframes l6-2 {
  0%,49.9%{background-position: 0    0,100% 0   ,100% 100%}
  50%,100%{background-position: 100% 0,100% 100%,0    100%}
}